<div class="container clinic">
	<h2 class="text-uppercase">Клиника в Израиле</h2>
	<img src="img/clinic.jpg" alt="пластика в Израиле" title="клиника пластической хирургии в Израиле">
	<div>		
		<p>Люди всего мира поклоняются молодости и красоте, они стараются стремиться к ним. Поэтому стали так популярны в последние годы такие направления пластической хирургии как пластика лица, ринопластика, блефаропластика, отопластика, липосакция и многие другие. В клиниках Израиля пластическая хирургия крайне востребованная область медицины. Основные направления работы заключаются в исправлении косметических дефектов внешности, а также устранении последствий травм и врожденных отклонений.</p>
		<p>Израильские пластические хирурги давно заслужили признание и восхищение как своих пациентов, так и зарубежных коллег. Такой уровень признания обусловлен высоким уровнем подготовки врачей, инновационным оснащением клиник, уникальными методами диагностики и проведения процедур. Многочисленные положительные отзывы лишь тому подтверждение.</p>
	</div>
</div>