<div class="bgDoctor" id="doctor">
	<div class="container doctor">
		<h2 class="text-uppercase text-center">Наши доктора</h2>
		<p class="col-md-8 col-md-offset-2">Наши специалисты готовы проконсультировать по всем интересующим Вас вопросам, касающимся пластической хирургии в Израиле</p>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="img/cohen.jpg" alt="доктор Меир Коэн" title="ринопластика у доктора Коэна" class="img-circle">
				<h4>Доктор Мэир КОЭН</h4>
				<small>Пластический хирург</small>
				<p>Специализируется на:</p>
				<ul>
					<li>пластике лба</li>
					<li>подтяжке лица</li>
					<li>ринопластике</li>
					<li>липосакции</li>
				</ul>
				<button class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#meirkohen">Оставить заявку</button>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="img/yakov.jpg" alt="Доктор Яков Коэн" title="интимная пластика у доктора Коэна" class="img-circle">
				<h4>Доктор Яков КОЭН</h4>
				<small>Пластический хирург</small>
				<p>Специализируется на:</p>
				<ul>
					<li>пластической хирургии женских половых органов</li>
					<li>лазерной интимной пластике</li>
				</ul>
				<button class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#jakovkohen">Оставить заявку</button>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3"> 
				<img src="img/shlomi.jpg" alt="пластический хирург Шломи" title="пластика у доктора Шломи" class="img-circle">
				<h4>Доктор Биньямин Шломи</h4>
				<small>Пластический хирург</small>
				<p>Специализируется на:</p>
				<ul>
					<li>челюстно-лицевой хирургии</li>
					<li>исправлении прикуса</li>
					<li>реконструкции челюсти</li>
					<li>восстановлении лица</li>
				</ul>
				<button class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#shlomi">Оставить заявку</button>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="img/aaron.jpg" alt="пластический хирург Аарон" title="ринопластика у Аарона" class="img-circle">
				<h4>Доктор Амир ААРОН</h4>
				<small>Пластический хирург</small>
				<p>Специализируется на:</p>
				<ul>
					<li>пластике шеи</li>
					<li>ринопластике</li>
					<li>пластике лица</li>
					<li>блефаропластике</li>
				</ul>
				<button class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#aaron">Оставить заявку</button>
			</div>
		</div>	
	</div>
</div>	

<div class="modal fade" id="meirkohen" tabindex="-1" role="dialog" aria-labelledby="drcohen">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="drcohen">Оставить заявку доктору Меиру Коэну</h4>
		    </div>
		    <div class="modal-body">
		         <form>
			        <div class="form-group">
				        <label for="nameMKohen" class="control-label">Ваше имя:</label>
				        <input type="text" class="form-control" id="nameMKohen">
				    </div>
				    <div class="form-group">
				        <label for="telMKohen" class="control-label">Ваш телефон:</label>
				        <input type="tel" class="form-control" id="telMKohen">
				    </div>
				    <div class="form-group">
				        <label for="messageMKohen" class="control-label">Что Вас интересует?</label>
				        <textarea class="form-control" id="messageMKohen"></textarea>
			        </div>
			        <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				        <button type="submit" class="btn btn-primary">Отправить</button>
				    </div>
		        </form>
		    </div>
		</div>
  	</div>
</div>

<div class="modal fade" id="jakovkohen" tabindex="-1" role="dialog" aria-labelledby="drycohen">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="drycohen">Оставить заявку доктору Якову Коэну</h4>
		    </div>
		    <div class="modal-body">
		         <form>
			        <div class="form-group">
				        <label for="nameJKohen" class="control-label">Ваше имя:</label>
				        <input type="text" class="form-control" id="nameJKohen">
				    </div>
				    <div class="form-group">
				        <label for="telJKohen" class="control-label">Ваш телефон:</label>
				        <input type="tel" class="form-control" id="telJKohen">
				    </div>
				    <div class="form-group">
				        <label for="messageJKohen" class="control-label">Что Вас интересует?</label>
				        <textarea class="form-control" id="messageJKohen"></textarea>
			        </div>
			        <div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		        		<button type="submit" class="btn btn-primary">Отправить</button>
		    		</div>
		        </form>
		    </div>
		</div>
  	</div>
</div>
<div class="modal fade" id="shlomi" tabindex="-1" role="dialog" aria-labelledby="drshlomi">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="drshlomi">Оставить заявку доктору Биньямину Шломи</h4>
		    </div>
		    <div class="modal-body">
		         <form>
			        <div class="form-group">
				        <label for="nameShlomi" class="control-label">Ваше имя:</label>
				        <input type="text" class="form-control" id="nameShlomi">
				    </div>
				    <div class="form-group">
				        <label for="telShlomi" class="control-label">Ваш телефон:</label>
				        <input type="tel" class="form-control" id="telShlomi">
				    </div>
				    <div class="form-group">
				        <label for="messageShlomi" class="control-label">Что Вас интересует?</label>
				        <textarea class="form-control" id="messageShlomi"></textarea>
			        </div>
			        <div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		        		<button type="submit" class="btn btn-primary">Отправить</button>
		    		</div>
		        </form>
		    </div>
		</div>
  	</div>
</div>
<div class="modal fade" id="aaron" tabindex="-1" role="dialog" aria-labelledby="draaron">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="draaron">Оставить заявку доктору Амиру Аарону</h4>
		    </div>
		    <div class="modal-body">
		         <form>
			        <div class="form-group">
				        <label for="nameAaron" class="control-label">Ваше имя:</label>
				        <input type="text" class="form-control" id="nameAaron">
				    </div>
				    <div class="form-group">
				        <label for="telAaron" class="control-label">Ваш телефон:</label>
				        <input type="tel" class="form-control" id="telAaron">
				    </div>
				    <div class="form-group">
				        <label for="messageAaron" class="control-label">Что Вас интересует?</label>
				        <textarea class="form-control" id="messageAaron"></textarea>
			        </div>
			        <div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		        		<button type="submit" class="btn btn-primary">Отправить</button>
		    		</div>
		        </form>
		    </div>
		</div>
  	</div>
</div>
