

<div class="container map">
	<h3 class="text-uppercase text-center">Как нас найти</h3>
	<p class="text-center">Тель-Авив | улица Хабарзель - 21</p>
	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.53757848923!2d34.83710171554652!3d32.10878125775903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b84a3deef97%3A0x7edd1a586c1bb4e5!2zSGFCYXJ6ZWwgMjEsIFRlbCBBdml2LVlhZm8sINCY0LfRgNCw0LjQu9GM!5e0!3m2!1sru!2sby!4v1502052116600" height="450"  allowfullscreen></iframe>
	</div>
</div>

<footer id="footer">
	<div class="container">
		<h2 class="text-uppercase text-center">Контакты</h2>
		<div class="row">
			<div class="col-xs-12 col-md-6 contacts">
				<p>Пластика в Израиле стала ближе!</p>
				<p>Вся информация предоставлена для ознакомления. Для получения полной информации - напишите нам.</p>
				<a href="" class="mailFooter">info@mail.ru</a>
				<small>НАША ПОЧТА</small>				
				<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
				<!--<a href="">+9 723  374 16 89<br /><span>телефон Израиля</span></a>
				<a href="">+7 499 380 73 98<br /><span>телефон России</span></a>-->
			</div>
			<div class="col-xs-12 col-md-6 feedback">
				<form class="form-inline">
				  	<div class="form-group">
				    	<input type="text" class="form-control" id="surnameFooter" placeholder="Имя">
				  	   	<input type="email" class="form-control" id="emailFooter" placeholder="Email">
				  	</div>
				  	<textarea name="text" placeholder="Сообщение..." class="form-control" id="text"></textarea>
				  	<button type="submit" class="btn btn-primary">Отправить</button>
				</form>
			</div>
		</div>	
	</div>
</footer>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>



<script async src="js/main.js"></script>
<script async src="//yastatic.net/share2/share.js"></script>


</body>
</html>