<div class="bgPrice" id="price">
	<div class="container price">
		<h2 class="text-uppercase text-center">Услуги и цены</h2>
		<div class="row">
			<div class="col-md-6 img-group">
				<img src="img/rino.jpg" alt="ринопластика в Израиле" title="Пластика носа в Израиле" class="img-circle">
				<p><strong>Ринопластика</strong> - это один из видов операций в области пластической хирургии, направленная на исправление формы носа и восстановление его функций. Данный вид операций может проводиться не только по эстетическим соображениям, но и по медицинским показаниям. Таким образом, ринопластика способствует не только улучшению внешности пациента, но и, при наличии некоторых медицинских особенностей, нормализации функционирования носа как органа дыхания.</p>
				<button class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#rynoplastic">Узнать цену</button>
			</div>	
			
			<hr>

			<div class="col-md-6 img-group">
				<img src="img/plastic.jpg" alt="пластическая хирургия в Израиле" title="пластика лица в Израиле" class="img-circle">
				<p><strong>Пластика лица</strong> - одна из популярнейших операций не только в клиниках Израиля. Благодаря этой операции можно позабыть о возрастных изменениях и вернуть молодость и красоту. Наши специалисты используют только инновационные методики и новейшее оборудование. Пациенты, сделавшие пластику лица в израильских клиниках, оставляют исключительно положительные отзывы о мастерстве и квалификации докторов и результатах своей омолодившейся внешности!</p>
				<button class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#facePlastic">Узнать цену</button>
			</div>	
		</div>	
	</div>
</div>

<div class="modal fade" id="rynoplastic" tabindex="-1" role="dialog" aria-labelledby="rhino">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" itemscope itemtype="http://schema.org/Article">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="rhino"><span itemprop="name">Ринопластика в Израиле</span> от 6 000$</h4>
		    </div>
		    <div class="modal-body" itemprop="description">
		    	<p>Для желающих провести <strong>ринопластику</strong> по приемлемой цене и с гарантированным эффективным результатом актуально предложение пройти операцию в Израиле.</p>
		    	<p>Судя по многочисленным отзывам о ринопластике или, как ее еще называют, коррекции носа, данный вид операции проводится на высочайшем уровне. Несмотря на этом цены в Израиле ощутимо ниже, если сравнивать с той же Германией или Соединенными Штатами.</p>
				<p>В Израиле эффективно устраняются эстетические дефекты любой сложности, последствия травм, а также воплощают в жизнь любые другие пожелания.</p>
				<p><span class="heading">Как же пройти ринопластику в Израиле?</span></p>
				<ul>
					<li>Посетитель сайта оставляет заявку на проведение ринопластики в чате либо в форме обратной связи</li>
					<li>В ближайшее время с ним связывается наш медицинский координатор, который ответит на все интересующие его вопросы и объяснит, что потребуется для осуществления данной операции</li>
					<li>После приезда в Израиль пациента ожидает полное сопровождение нашими сотрудниками. Ему не стоит беспокоиться ни о каких формальностях или бюрократических вопросах. Все очереди и записи, перевод, размещение – все данные вопросы мы можем помочь решить за него</li>
					<li>Задача пациента – посетить консультацию доктора. Кроме того, он может сам выбрать, какого доктора он бы хотел выслушать</li>
				</ul>
				<p><span class="heading">Как проводится ринопластика?</span></p>
				<p>Существует различные способы осуществления ринопластики. В Израиле обычно практикуется закрытый способ. Как правило, после такого вмешательства не остается никаких косметических следов. Открытый способ ринопластики возможен для проведения процедуры с большим объемом коррекции. Чуть подробнее об обоих методах:</p>
				<p>1. <span>Закрытый способ</span>. Для данного метода требуется наивысшая квалификация и огромный опыт пластического хирурга. Разрезы и коррекция происходят внутри полости носа, не затрагивая и не повреждая внешние ткани. Следов вмешательства после данного способа операции не остается. Поэтому данный вариант является предпочтительным, ведь самое главное – это не навредить пациенту.</p>
				<p>2. <span>Открытый способ</span>. Разрезается верхняя часть кожи носовой перегородки, т.е. операция проводится извне. После такого способа есть небольшая вероятность появления маленьких шрамов. Данный способ редко практикуется израильскими специалистами, отдается предпочтение первому закрытому варианту данной операции.</p>
				<p><span class="heading">Исправление носовой перегородки.</span></p>
				<p>Данный вид операции называется септопластика, она проводится для устранения проблем с дыханием или последствий травм. Применяются инвазивные или малотравматичные методы. Один из самых распространенных методов – эндоскопическая лазерная операция. Реабилитационный период очень короткий. Через пару часов после септопластики к пациенту возвращается возможность свободно дышать.</p>				
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		    </div>
	    </div>
	</div>
</div>

<div class="modal fade" id="facePlastic" tabindex="-1" role="dialog" aria-labelledby="plasFace">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content" itemscope itemtype="http://schema.org/Article">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	       		<h4 class="modal-title" id="plasFace"><span itemprop="name">Пластика лица в Израиле</span> от 10 000$</h4>
	      	</div>
	      	<div class="modal-body" itemprop="description">
		        <p><strong>Пластика лица</strong> - это отличное средство вернуть красоту и молодость увядающей коже, исправить различные дефекты или последствия травм, а также вернуть себе уверенность, подкорректировав некоторые беспокоящие Вас проблемные места.</p> 
				<p>Эффективность пластики достигается за счет исключительной точности подобранных для каждого пациента пропорций, после нее не останется никаких следов, шрамов или рубцов. Специалисты мирового класса гарантируют полную безопасность проведения пластики лица. В результате человек получает молодую кожу без признаков старения.</p>
				<p>От воздействия времени, солнечных лучей, выхлопных газов и стрессов кожа лица стареет и увядает. Кроме кожи стареют и теряют свою упругость мышцы лица. Уникальные методики с современным оснащением клиники в Израиле дают возможность воплотить в жизнь мечту миллионов людей – вернуть лицу молодость и свежесть вопреки возрасту.</p>
				<p><span class="heading">Виды пластики лица:</span></p>
				<ul>
					<li><span>Контурная пластика</span><br />
					Данный вид пластики является комплексной программой пластической хирургии, который изменяет контуры лица, добавляя или уменьшая объем. Выполняется на основе тканей пациента с использованием сертифицированных имплантов.</li>
					<li><span>Липофилинг</span><br />
					Включает в себя следующие процедуры: коррекция подбородка, скуловых областей, носогубной складки, слезной борозды и т.д.</li>
					<li><span>Липосакция</span><br />
					Является малотравматичным методом. Суть липосакции заключается в удалении жировых отложений из щек, подбородка или иных областей лица. Позволяет значительно корректировать контуры и улучшать общий внешний вид человека.</li>
					<li><span>SMAS-лифтинг</span><br />
					Такая процедура имеет более длительный эффект, чем классическая пластика лица. Он держится более 8 лет. SMAS-лифтинг подтягивает опустившийся овал лица с помощью захвата апоневротического слоя кожи.</li>
					<li><span>Блефаропластика</span>
					Позволяет изменять форму век, подтягивать их, убирать мешки под глазами, нависшее веко или другие дефекты.</li>
					<li><span>Отопластика</span><br />
					Пластика направлена на исправление лопоухости. Отопластика позволяет как поменять форму ушей, так и приблизить их к черепу.
					Реабилитационный период после пластики лица составляет от 1 до 1,5 месяца. За это время происходит полное заживление разрезов. Швы снимают через неделю после операции.</li>
				</ul>
				<p>Эффект омоложения сохраняется от 6 до 8 лет. Способы и методы проведения процедуры зависят от предпочтений пациента, его возраста и индивидуальных особенностей организма.</p>
				<p><span class="heading">Устранение последствий травм и аварий</span></p>
				<p>В Израиле успешно проводятся операции по устранению следов различных ДТП, ожогов или врожденных косметических дефектов</p>
				<p><span class="heading">Возможно применение следующих процедур (как в комплексе, так и отдельно):</span></p>
				<ul>
					<li>Пересадка кожи</li>
					<li>Пластика шрамов</li>
					<li>Удаление рубцов</li>
					<li>Экспандерная дерматензия</li>
					<li>Аппаратная коррекция</li>
					<li>Физиотерапевтические процедуры</li>
					<li>Инъекционная терапия</li>
					<li>Микрохирургия</li>
					<li>Хирургическая коррекция</li>
				</ul>	
			</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	       	</div>
	    </div>
  	</div>
</div>

