<div class="container question" id="question">
	<div class="col-md-6 col-md-offset-3">
		<h3>Остались вопросы?</h3>
		<p>Стоит подчернуть, что цены в Израиле - понятие индивидуальное. Медицина Израиля славится своим персональным подходом к каждому пациенту. Именно поэтому она находится на таком высоком уровне. Чтобы узнать точную цену на услуги по ринопластике или пластике лица в Израиле - оставьте свою заявку и Вам перезвонят и детально проконсультируют по всем интересующим Вас вопросам.</p>
		<button class="btn btn-info text-uppercase" data-toggle="modal" data-target="#knowPrice">Узнать цену</button>
	</div>
</div>

<div class="modal fade" id="knowPrice" tabindex="-1" role="dialog" aria-labelledby="priceFeedback">
  	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="priceFeedback">Оставьте свою заявку и мы детально проконсультируем Вас по всем вопросам!</h4>
		    </div>
		    <div class="modal-body">
		        <form>
			        <div class="form-group">
				        <label for="nameQuestion" class="control-label">Ваше имя:</label>
				        <input type="text" class="form-control" id="nameQuestion">
				    </div>
				    <div class="form-group">
				        <label for="telQuestion" class="control-label">Ваш телефон:</label>
				        <input type="tel" class="form-control" id="telQuestion">
				    </div>
				    <div class="form-group">
				        <label for="messageQuestion" class="control-label">Ваш вопрос:</label>
				        <textarea class="form-control" id="messageQuestion"></textarea>
			        </div>
		        </form>
			        <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			        <button type="submit" class="btn btn-primary">Отправить</button>
			    </div>
		    </div>
		</div>
  	</div>
</div>